@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

:root {
  --light-grey: #efefef;
  --grey: #eee;
  --dark-grey: #333;
  --white: #fff;
}
// ///////////////////////////// Global Reset
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-size: 1.4rem;
  color: var(--dark-grey);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}




.title {
  margin: 0 1rem 2rem 0;
  font-size: 3rem;
}

.btn {
  border: 2px solid #000;
  padding: 0.5rem 1rem;
  width: 8rem;
  font-family: inherit;
  background: var(--white);
  font-weight: 600;
  cursor: pointer;
}

.container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;

  .main-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 2;
  }

  .scores {
    margin: 3rem;
    display: flex;

    .recent-scores {
      margin-right: 5rem;
      width: 50%;

      &__head {
        display: flex;
        align-items: baseline;
      }

      &__list {
        border: 2px solid #000;

        .list-item {
          list-style: none;
          padding: 0.5rem;

          &:nth-child(even) {
            background-color: var(--light-grey);
          }
        }
      }
    }

    .new-scores {
      width: 50%;

      .form {
        display: flex;
        flex-direction: column;

        .name,
        .score {
          margin-bottom: 2rem;

          input {
            width: 100%;
            border: 2px solid #000;
            padding: 0.5rem;

            &::placeholder {
              font-family: inherit;
              font-size: inherit;
              font-weight: 600;
              color: var(--dark-grey);
            }
          }
        }

        .submit-btn {
          align-self: flex-end;
        }
      }
    }
  }
}
